DJANGO_SETTINGS_MODULE=
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
SITE_URL=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

REDIS_CACHE_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

EMAIL_BACKEND=
DEFAULT_FROM_EMAIL=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

LOG_LEVEL=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_ENABLED=

CSRF_TRUSTED_ORIGINS=

SECURE_SSL_REDIRECT=
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=
SECURE_HSTS_SECONDS=

GLITCHTIP_DSN=

CORS_ALLOWED_ORIGINS=

TEACHER_EMAIL=
TEACHER_PASSWORD=

MAX_COUNT_COURSE_IMAGES=5
MAX_COUNT_LESSON_IMAGES=15

PLATFORM_COMMISSION_RATE=15